<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Plaza<% if @group_name != nil %>
  <%=": #{@group_name}" %>
  <% end %>
  </title>
	<meta name="author" content="Alexander Atallah">
	<!-- Date: 2011-09-20 -->
	
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function () {
			searcher = new Searcher();
		});
	</script>
	
	<!-- Google Analytics -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-26068954-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
</head>
<body>
	
	<div id="wrapper">
			<div id="header">
			  <div style="text-align: center;">
			  	<%= image_tag("logo.png", :alt => "logo", :class => "logo-img", :id => "logo-img", :width => "188", :height => "92" ) %> 

			  </div>

				<div id="search-wrapper">
					<input type="search" id="search-input" placeholder="Search Everything" autosave='plaza-search' results = 5 incremental="incremental" />
					<div id="results">
					</div>
				</div>

				<div id="nav">
					<div class="top">
						<a>Alex Atallah&nbsp;&nbsp;|&nbsp;&nbsp;Sign out</a>
					</div>
					<div class="bottom">
					  <div class="item">
					  	<p class="large-caps blue">Profile</p>
					  </div>
						<div class="item current">
							<p class="large-caps green">Groups</p>
						</div>
					</div>
				</div>
			</div>
			<div id="content">

<%= yield %>

			</div>
	  </div>
</body>
</html>
