<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag 'text', :charset => 'utf-8' %>
  <%= stylesheet_link_tag 'clickables', :charset => 'utf-8' %>
  <%= javascript_include_tag 'jquery-1.6.4.min.js', :charset => 'utf-8' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Plaza<% if @group_name != nil %>
  <%=": #{@group_name}" %>
  <% end %>
  </title>
	<meta name="author" content="Alexander Atallah">
	<!-- Date: 2011-09-20 -->
	<style type="text/css" media="screen">
		
		* {
			padding: 0;
			border: 0;
			margin: 0;
		}
		
		.clear {
			clear: both;
		}
		
		body {
			background-image: url(/assets/StanfordBackground.jpg);
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			font-family: "Gill Sans", Helvetica, sans-serif;
		}
		
		#wrapper {
			width: 960px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;
			border-radius: 4px;
			background-color: transparent;
		}
		
			#header {
				background-color: transparent;
				padding: 5px;
				height: 73px;
			}
			
				#logo-img, #search-wrapper {
					float: left;
				}
				
				#search-wrapper {
					margin: 35px 0px 0px 125px;
				}
				
					.big-search {
						font-size: 20px;
						width: 180px;
					}
					
				#nav {
					float: right;
					margin-top: 18px;
				}
					#nav .top {
            text-align: right;
            margin-right: 85px;
            height: 33px;
            padding-top: 5px;
            display: none;
					}
					
			#content {
				border-radius: 4px;
				background-color: rgba(255,255,255,0.8);
				padding: 15px;
				box-shadow: #333 0px 4px 15px;
			}
			
			  .heading {
			    margin-bottom: 10px;
			  }
			
				#content-top {
					height: 40px;
				}
				
				#content-left, #content-center, #content-right {
					float: left;
				}
				
				#content-left {
					width: 235px;
					padding-right: 15px;
				}
				
				#content-center {
					width: 400px;
					padding: 0 15px;
				}
				
				#content-right {
					width: 235px;
					padding-left: 15px;
				}
				
				  img.ical {
				    float: right;
				  }
		
	</style>
	
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function () {
			
		});
	</script>
	
	<!-- Google Analytics -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-26068954-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
</head>
<body>

<%= yield %>

</body>
</html>
